!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    // TODO: figure out how to make this configurable
    -# %title Blog.title
    -# %meta{:content => "#{Blog.description}", :name => "description"}/
    -# %meta{:content => "#{Blog.keywords}", :name => "keywords"}/
    -# -# Facebook open graph tags
    -# %meta{:content => "#{request.url}", :property => "og:url"}/
    -# %meta{:content => "#{Blog.title}", :property => "og:site_name"}/
    -# %meta{:content => "website", :property => "og:type"}/
    -# %meta{:content => "#{Blog.title}", :property => "og:title"}/
    -# %meta{:content => "hots/assets/facebook/facebook-og.png", :property => "og:image"}/
    -# %meta{:content => "#{Blog.description}", :property => "og:description"}/
    -# %meta{:content => "width=device-width", :name => "viewport"}/
    %link(rel="shortcut icon" href="/assets/favicon.ico" type="image/png")
    %link{:href => "/assets/application.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %body
    = partial "layouts/header"
    .content-container
      = yield
      = partial "layouts/footer"
